<!DOCTYPE html>
<html lang="en"   xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH"  th:action="@{/people/{id}(id=${person.getId()})}"  th:object="${person}">    <!--1) Patch должен всегда идти с thymeleaf
                                                                      2) данные с этой формы будут посылаться на адрес /people/{id}, где id - id нашего person -->
  <label for="name" > Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>  <!-- тип вводимых значений - текст, записывается он в поле name(th:field="*{name}") -->
  <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>

  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
  <br/>

  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
  <br/>

  <label for="address">Enter address: </label>
  <input type="text" th:field="*{address}" id="address"/>
  <div style="color:darkred" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
  <br/>

  <input type="submit" value="Update"/>
</form>

</body>
</html>